body {
    background-color: #111; 
    font-family: sans-serif;
   color: #FFA500;
}
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #000000;
}

h1 {
    margin-top: 0;
    color: #FFD700;
}
h2{
    color: azure;
}
.contact-info {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.contact-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.contact-detail {
    font-size: 18px;
}

.strengths {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.strength-name {
    font-size: 16px;
}

.strength-bar {
    width: 20%;
    height: 10px;
    background-color: #FFD700; /
   
}
.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}


  .section{
    margin-bottom: 20;

  }
  .section{
    font-size: 1.8em;
    margin-top: 0;
    color: #333;
  }
.section ul{
    list-style: none;
    padding: 0;

}
.section li {
margin-bottom:10px;
}

.section p {
    margin-bottom: 10px;
}

.educacion {
    margin-bottom: 2

}
.contact-info {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: #000000; 
    margin-bottom: 10px;

}
.section-header {
    font-family: 'Arial', sans-serif; 
    font-size: 24px;
    color: #FFFFFF; 
    background-color: #FFA500; 
    padding: 15px;
    margin-bottom: 20px;
    text-align: center; 
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    flex: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 2.5em;
    margin: 0;
    color: #333;
}

.header h2 {
    font-size: 1.5em;
    margin: 0;
    color: #555;
}

.section {
    margin-bottom: 20px;
}

.section h3 {
    font-size: 1.8em;
    margin-top: 0;
    color: #333;
}

.section ul {
    list-style: none;
    padding: 0;
}

.section li {
    margin-bottom: 10px;
}

.section li span {
    font-weight: bold;
}

.section p {
    margin-bottom: 10px;
}

.footer {
    text-align: center;
    margin-top: 20px;
}

.linea {
  width: 100%; /* Define ancho de la línea */
  height: 2px; /* Define altura de la línea */
  background-color: #FFA500; /* Define color de la línea */
}

.section{
    display: flex;
}
section{
    margin-right: 0px;
}